{% extends "base.html" %}
{% block title %}Orthogroup {{ orthogroup.orthogroup_id }}{% endblock %}

{% block content %}
<h2 class="mt-4">Orthogroup: {{ orthogroup.orthogroup_id }}</h2>
<p>Description: {{ orthogroup.description }}</p>

<h3>Gene Tree</h3>
<!-- Hidden until working
<div class="btn-group" data-toggle="buttons">
    <label class="btn btn-default active btn-sm">
      <input type="radio" name="options" class = "phylotree-layout-mode" data-mode = "linear" autocomplete="off" checked title = "Layout left-to-right"> Linear
    </label>
    <label class="btn btn-default  btn-sm">
      <input type="radio" name="options" class = "phylotree-layout-mode" data-mode = "radial" autocomplete="off" title = "Layout radially"> Radial
    </label>
  </div>
-->
<div>
    <label for="widthRange">Width</label>
    <input type="range" id="widthRange" min="200" max="6000" value="1200">
    <br>
    <label for="heightRange">Height</label>
    <input type="range" id="heightRange" min="400" max="10000" value="2400">
</div>
<div>
  <svg id="tree-container"></svg>
</div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='node_modules/phylotree/dist/phylotree.js') }}"></script>
<script src="{{ url_for('static', filename='gene_tree.js') }}"></script>

<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function() {
      let tree = createTreeUpdated("{{ orthogroup.gene_tree | safe }}");
      console.log(tree);
      //console.log(tree.parsed_tags);
      //console.log(tree.getTips());
      console.log(tree.get_parsed_tags())
      //tree.show();
      
      const widthRange = document.getElementById('widthRange');
      const heightRange = document.getElementById('heightRange');
      // Add event listener to width and height range sliders
      widthRange.addEventListener('input', function() {
        tree = createTreeUpdated("{{ orthogroup.gene_tree | safe }}", widthRange.value, heightRange.value);
      });
      heightRange.addEventListener('input', function() {
        tree = createTreeUpdated("{{ orthogroup.gene_tree | safe }}", widthRange.value, heightRange.value);
      });
  });
</script>
{% endblock %}
